@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap'); 

html, body, [class*="css"] {
    font-family: 'Montserrat', sans-serif; 
    font-size: 12px;
    font-weight: 500;
    color: #e215c0;
}